blinker==1.9.0
click==8.1.8
colorama==0.4.6
coverage==7.6.10
exceptiongroup==1.2.2
factory_boy==3.3.1
Faker==33.3.1
Flask==3.1.0
Flask-Testing==0.8.1
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.5
MarkupSafe==3.0.2
packaging==24.2
pluggy==1.5.0
pytest==8.3.4
pytest-asyncio==0.25.2
pytest-cov==6.0.0
pytest-mock==3.14.0
python-dateutil==2.9.0.post0
six==1.17.0
tomli==2.2.1
typing_extensions==4.12.2
Werkzeug==3.1.3
